{% extends "topnav.html" %}
{% block head %}
    <title>Welcome</title>
{% endblock %}

{% block content %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>M</h1>
        <p></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2 align="center">Login </h2>
          <p>&nbsp;</p>
			<!-- An exemplar signup form -->
			{% if form.errors %}
			    <p>Your username and password didn't match. Please try again.</p>
			{% endif %}

			<form class="form-horizontal" action="{% url django.contrib.auth.views.login %}" method="POST">
			  {% csrf_token %}

			  <div class="control-group">
			    <label class="control-label" for="id_username">Username</label>
			    <div class="controls">
			      <input type="text" name="username" id="id_username" placeholder="Username" maxlength="30" />
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="id_password">Password</label>
			    <div class="controls">
			      <input type="password" name="password" id="id_password" placeholder="Password">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <label class="checkbox">
			        <input type="checkbox" checked="checked"> Remember me
			      </label>
			      <button type="submit" class="btn btn-primary">Go baby Go</button>
			      <a href="{% url signup %}" class="btn">Signup</a>
			    </div>
			  </div>
			</form>
		                     
        </div>

        <div class="span4 offset2">
          <h2>Sidebar</h2>
	       	<div class="controls">&nbsp;</div>
	       	<div class="controls">&nbsp;</div>
	       	<div class="controls">&nbsp;</div>
	       	<div class="controls">&nbsp;</div>
       </div>
      
      </div> <!-- /row -->

{% endblock %}
