{% extends "topnav.html" %}
{% block head %}
    <title>Welcome</title>
{% endblock %}

{% block content %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>M</h1>
        <p></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2 align="center">Register </h2>
          <p>&nbsp;</p>

			<!-- An exemplar signup form -->
			<form class="form-horizontal" method="POST">
			  {% csrf_token %}
					{% if data.status %}
					    <p>{{data.status}}</p>
					{% endif %}

			  <div class="control-group">
			    <label class="control-label" for="id_username">Username</label>
			    <div class="controls">
			      <input type="text" id="id_username" name="username" placeholder="Username" maxlength="30" />
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="id_username">Username</label>
			    <div class="controls">
	                <select name="region">
	                	{% for r in data.regions %}
	                	{{data.current_region}} {{r.id}}
	                    <option value="{{r.id}}">{{r.name}}</option>
	                    {% endfor %}
	                </select>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="id_password">Set Password</label>
			    <div class="controls">
			      <input type="password" id="id_password" name="password" placeholder="Password">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="id_password_repeat">Repeat</label>
			    <div class="controls">
			      <input type="password" id="id_password_repeat" name="password_repeat" placeholder="Repeat Password">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <button type="submit" class="btn btn-primary">Bazingaa!</button>
			    </div>
			  </div>
			</form>
		</div>
        <div class="span4 offset2">
          <h2>Sidebar</h2>
	       	<div class="controls">&nbsp;</div>
	       	<div class="controls">&nbsp;</div>
	       	<div class="controls">&nbsp;</div>
	       	<div class="controls">&nbsp;</div>
       </div>
	  </div> <!-- /row -->
{% endblock %}
