{% comment %}
This template is a completely 100% generic HTML5 template.
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Prakhar K Goel">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Style (aka, calling Bootstrap) -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- <link href="{{STATIC_URL}}css/bootstrap-1.1.1.css" rel="stylesheet"> -->

    <!-- Scripts, inc. TableSorter -->
    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <!-- <script src="{{STATIC_URL}}js/bootstrap-popover.js"></script> -->
    <!-- <script src="{{STATIC_URL}}js/bootstrap-tooltip.js"></script> -->
    <!-- <script src="{{STATIC_URL}}js/bootstrap.min.js"></script> -->
    
    {% block head %}{% endblock %}
  </head>
  <body>
  	{% block topnav %}{% endblock %}
  	
  	<div class="container">
	{% block content %}{% endblock %}
	{% block footer %}{% endblock %}
	</div>
  </body>
</html>
