{% extends "topnav.html" %}
{% block head %}
    <title>Inbox</title>
{% endblock %}


{% block content %}

<div class="row">
	<div class="span7">
		<p>&nbsp;</p>
		<p>&nbsp;</p>
    	<h2 align="center">Inbox </h2>
		<p>&nbsp;</p>

		{% if data.messages.count > 0 %}
		<table class="table table-hover">
			<thead>
			<tr>
				<th>Id</th>
				<th>Subject</th>
				<th>Message</th>
				<th>From</th>
				<th>Timestamp</th>
			</tr>
			</thead>
			<tbody>
			{% for m in data.messages %}
			<tr>
				<td>{{m.pk}}</td>
				<td>{{m.title}}</td>
				<td>{{m.body}}</td>
				<td>{{m.user.username}}</td>
				<td>{{m.created_at|date:"j/n G:ia"}}</th>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>&nbsp;</p>
		<p>&nbsp;Your Inbox is empty brother.</p>
		{% endif %}

    </div>
</div>

{% endblock %}