{% extends "topnav.html" %}
{% block head %}
    <title>Welcome</title>
{% endblock %}

{% block content %}

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1></h1>
        
        <!--<p>Welcome to Multi-Chat</p>
        <p><a class="btn primary large">Learn more &raquo;</a></p>-->
        
      </div>
      
      <!-- Example row of columns -->
      <div class="row">
        <div class="span11">
           <h2 align="center">Login <!-- <small>and Signup</small> --></h2>
<p></p>


<!-- An exemplar signup form -->
{% if wrong_password %}
    <p>Your username and password didn't match, please try again.</p>
{% endif %}

<form action="" method="POST">
	{% csrf_token %}
                <fieldset>
                    <div class="clearfix">
                        <label>Username / Email</label>
                        <div class="input">
                            <input type="text" name="email" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>Password</label>
                        <div class="input">
                            <input type="password" name="password" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="input">
                            <ul class="inputs-list">
                                <li>
                                </li>
								<li>
		                            <label>
		                                <input type="checkbox" />
		                                Remember Me
		                            </label>
								</li>
                            </ul>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="btn primary">Go Baby Go</button>
                        <a class="btn">Reset</a>
                    </div>

                </fieldset>
            </form>
<p></p>

        </div>

<!-- The second column -->
        <div class="span5">
          <h2>Signup</h2>
           <p>There is no seperate process for signup. Just key in your email and password.</p>
           <ul>
           	<li>If you are visiting first time, you'll get registered.</li>
           	<li>If you have visited before and entered correct credentials, you'll be logged in.</li>
           	<li>If you have forgotten your password, may God bless you till I create a reset password option.</li>
           </ul>
<!-- <ul class="tabs">
  <li class="active"><a href="#"> </a></li>
  <li><a href="#"></a></li>
  <li><a href="#"></a></li>
</ul> -->
<p></p>
       </div>
      </div>

<!-- Footer -->
      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

{% endblock %}