{% extends "topnav.html" %}
{% block head %}
    <title>Edit Profile</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
	<script type="text/javascript"
	  src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript" src="http://gmaps-samples-v3.googlecode.com/svn/trunk/geolocate/geometa.js"></script>
    <script type="text/javascript">
      function initialize() {
      	// alert("hello");
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        // alert(mapOptions)
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
	    prepareGeolocation();
	    doGeolocation();
        // alert(map)
      	document.getElementById("map_canvas").innerHTML = "Its working"
      }
      
  function doGeolocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(positionSuccess, positionError);
    } else {
      positionError(-1);
    }
  }

  function positionError(err) {
    var msg;
    switch(err.code) {
      case err.UNKNOWN_ERROR:
        msg = "Unable to find your location";
        break;
      case err.PERMISSION_DENINED:
        msg = "Permission denied in finding your location";
        break;
      case err.POSITION_UNAVAILABLE:
        msg = "Your location is currently unknown";
        break;
      case err.BREAK:
        msg = "Attempt to find location took too long";
        break;
      default:
        msg = "Location detection not supported in browser";
    }
    document.getElementById('info').innerHTML = msg;
  }

  function positionSuccess(position) {
    // Centre the map on the new location
    var coords = position.coords || position.coordinate || position;
    var latLng = new google.maps.LatLng(coords.latitude, coords.longitude);
    map.setCenter(latLng);
    map.setZoom(12);
    var marker = new google.maps.Marker({
	    map: map,
	    position: latLng,
	    title: 'Why, there you are!'
    });
    document.getElementById('info').innerHTML = 'Looking for <b>' +
        coords.latitude + ', ' + coords.longitude + '</b>...';

    // And reverse geocode.
    (new google.maps.Geocoder()).geocode({latLng: latLng}, function(resp) {
		  var place = "You're around here somewhere!";
		  if (resp[0]) {
			  var bits = [];
			  for (var i = 0, I = resp[0].address_components.length; i < I; ++i) {
				  var component = resp[0].address_components[i];
				  if (contains(component.types, 'political')) {
					  bits.push('<b>' + component.long_name + '</b>');
					}
				}
				if (bits.length) {
					place = bits.join(' > ');
				}
				marker.setTitle(resp[0].formatted_address);
			}
			document.getElementById('info').innerHTML = place;
	  });
  }

  function contains(array, item) {
	  for (var i = 0, I = array.length; i < I; ++i) {
		  if (array[i] == item) return true;
		}
		return false;
	}
      
      $(document).ready(function() {
		initialize()
 	});
    </script>
{% endblock %}

{% block content %}
      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">

		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
          <h2 align="center">Edit Profile ({{user.username}}) </h2>
          <p>&nbsp;</p>

			<!-- An exemplar signup form -->
			<form class="form-horizontal" method="POST">
			  {% csrf_token %}
				{% if data.status == 'success' %}
				    <p>Your profile is saved successfully.</p>
				{% endif %}

			  <div class="control-group">
			    <label class="control-label" for="id_username">Username</label>
			    <div class="controls">
			      <input type="text" id="id_username" name="username" value="{{data.username}}" readonly="readonly" />
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="id_username">Username</label>
			    <div class="controls">
	                <select name="region">
	                	{% for r in data.regions %}
	                	{{data.current_region}} {{r.id}}
	                    <option value="{{r.id}}" {% ifequal data.current_region r.id %}selected="selected"{% endifequal %}>{{r.name}}</option>
	                    {% endfor %}
	                </select>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="id_password">Change Password</label>
			    <div class="controls">
			      <input type="password" id="id_password" name="password" placeholder="Password">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <button type="submit" class="btn btn-primary">Save it</button>
			    </div>
			  </div>
			</form>
		</div>
        <div class="span4 offset2">
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
          <h2>Sidebar</h2>
          	<div id="map_canvas" class="span5">Hello</div>
	       	<div class="controls">&nbsp;</div>
	       	<div class="controls">&nbsp;</div>
	       	<div class="controls">&nbsp;</div>
	       	<div class="controls">&nbsp;</div>
       </div>
	  </div> <!-- /row -->
{% endblock %}
