{% extends "topnav.html" %}
{% block head %}
    <title>Welcome</title>

<script type="text/javascript"
  src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="http://gmaps-samples-v3.googlecode.com/svn/trunk/geolocate/geometa.js"></script>
<style type="text/css">
  /* *, html { margin:0; padding:0 }
  div#map_canvas { width:100%; height:100%; }
  div#info { width:100%; position:absolute; overflow:hidden; text-align:center; top:0;
    left:0; }*/
/*  .lightBox {
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    background-color:white;
    padding:2px;
}*/
</style>
<script type="text/javascript">
  var map;
  function initialise() {
    var latlng = new google.maps.LatLng(-25.363882,131.044922);
    var myOptions = {
      zoom: 4,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    prepareGeolocation();
    doGeolocation();
  }

  function doGeolocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(positionSuccess, positionError);
    } else {
      positionError(-1);
    }
  }

  function positionError(err) {
    var msg;
    switch(err.code) {
      case err.UNKNOWN_ERROR:
        msg = "Unable to find your location";
        break;
      case err.PERMISSION_DENINED:
        msg = "Permission denied in finding your location";
        break;
      case err.POSITION_UNAVAILABLE:
        msg = "Your location is currently unknown";
        break;
      case err.BREAK:
        msg = "Attempt to find location took too long";
        break;
      default:
        msg = "Location detection not supported in browser";
    }
    document.getElementById('info').innerHTML = msg;
  }

  function positionSuccess(position) {
    // Centre the map on the new location
    var coords = position.coords || position.coordinate || position;
    var latLng = new google.maps.LatLng(coords.latitude, coords.longitude);
    map.setCenter(latLng);
    map.setZoom(12);
    var marker = new google.maps.Marker({
	    map: map,
	    position: latLng,
	    title: 'Why, there you are!'
    });
    document.getElementById('info').innerHTML = 'Looking for <b>' +
        coords.latitude + ', ' + coords.longitude + '</b>...';

    // And reverse geocode.
    (new google.maps.Geocoder()).geocode({latLng: latLng}, function(resp) {
		  var place = "You're around here somewhere!";
		  if (resp[0]) {
			  var bits = [];
			  for (var i = 0, I = resp[0].address_components.length; i < I; ++i) {
				  var component = resp[0].address_components[i];
				  if (contains(component.types, 'political')) {
					  bits.push('<b>' + component.long_name + '</b>');
					}
				}
				if (bits.length) {
					place = bits.join(' > ');
				}
				marker.setTitle(resp[0].formatted_address);
			}
			document.getElementById('info').innerHTML = place;
	  });
  }

  function contains(array, item) {
	  for (var i = 0, I = array.length; i < I; ++i) {
		  if (array[i] == item) return true;
		}
		return false;
	}

</script>


{% endblock %}

{% block content %}
      <div class="row">
        <div class="span11">
           <h2 align="center">Edit Profile ({{user.username}}) <!-- <small>and Signup</small> --></h2>
			<p></p>

<!-- An exemplar signup form -->

<form method="POST">
	{% csrf_token %}
                <fieldset>
			        <div class="clearfix">
			            <div class="input">
							{% if data.status == 'success' %}
							    <p>Your profile is saved successfully.</p>
							{% endif %}
			            </div>
			        </div>
                	
                    <div class="clearfix">
                        	<label>Username</label>
                        <div class="input">
                            <input type="text" name="username" value="{{data.username}}" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="clearfix">
                        	<label>Region</label>
                        <div class="input">
                            <select name="region">
                            	{% for r in data.regions %}
                            	{{data.current_region}} {{r.id}}
                                <option value="{{r.id}}" {% ifequal data.current_region r.id %}selected="selected"{% endifequal %}>{{r.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="clearfix">
                        	<label>Change Password</label>
                        <div class="input">
                            <input type="password" name="password" />
                        </div>
                    </div>		                     
                    <div class="actions">
                        <button class="btn primary">Save it</button>
                    </div>

                </fieldset>
</form>
<p></p>

        </div>

<!-- The second column -->
        <div class="span5">
        	<h2>Signup</h2>
			<div id="map_canvas">Hello world</div>
			<div id="info" class="span5 lightbox">Detecting your location...</div>
			<script>
				initialise()
			</script>
  
        	
          <!-- <h2>Signup</h2>
           <p>There is no seperate process for signup. Just key in your email and password.</p>
           <ul>
           	<li>If you are visiting first time, you'll get registered.</li>
           	<li>If you have visited before and entered correct credentials, you'll be logged in.</li>
           	<li>If you have forgotten your password, may God bless you till I create a reset password option.</li>
           </ul>
            -->
<!-- <ul class="tabs">
  <li class="active"><a href="#"> </a></li>
  <li><a href="#"></a></li>
  <li><a href="#"></a></li>
</ul> -->
<p></p>
       </div>
      </div>

<!-- Footer -->
      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

{% endblock %}