{% extends "base.html" %}

{% block topnav %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">MultiChat</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="{% ifequal request.path "/" %}active{% endifequal %}"><a href="/">Home</a></li>
                {% if user.is_authenticated %}
                <li class="{% ifequal request.path "/compose/" %}active{% endifequal %}"><a href="{% url compose %}">Compose</a></li>
                <li class="{% ifequal request.path "/inbox/" %}active{% endifequal %}"><a href="{% url inbox %}">Inbox</a></li>
                <li class="{% ifequal request.path "/profile/" %}active{% endifequal %}"><a href="{% url profile %}">Edit Profile</a></li>
                {% else %}
                <li class="{% ifequal request.path "/signup/" %}active{% endifequal %}"><a href="{% url signup %}">Signup</a></li>
                {% endif %}

<!--               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li> -->              
              
            </ul>
            {% if user.is_authenticated %}
            <ul class="nav pull-right">
            	<li><a>Welcome {{request.user.username}}</a></li>
            	<li><a href="{% url logout %}">Logout</a></li>
            </ul>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
{% endblock %}


{% block footer %}
<hr>
<!-- Footer -->
      <footer>
        <p>&copy; Prakhar Goel 2012</p>
      </footer>

{% endblock %}